body {
  color: #333333;
  background: #e6f3ff;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px; }
  body h1 {
    color: #ff3399;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #ff3399;
    margin-top: 10px;
    margin-bottom: 0px; }
  body h4 {
    color: #ffb3d9;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: #333333;
    text-align: left; }
  body ul {
    color: #ffb3d9;
    list-style-type: disc;
    text-align: left; }
  body a {
    text-decoration: underline;
    color: #ffb3d9; }
    body a:hover {
      color: #ff3399; }
  body img {
    border-radius: 200px; }
